n8n/n8n_workflow_template.json
[{"updatedAt":"2026-04-03T09:11:19.594Z","createdAt":"2026-02-22T16:32:46.305Z","id":"T83lYR5vULLtMl5v","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1360,-416],"id":"c78defa9-e73b-4361-8a8b-d9575afcdb44","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/data/output/next_upload.json","options":{"dataPropertyName":"data"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-1168,-416],"id":"e23cce77-d0b4-4fe2-9d5e-bf31ef5e141f","name":"Read/Write Files from Disk"},{"parameters":{"resource":"video","operation":"upload","title":"={{$json.json.item.title}}","regionCode":"IN","categoryId":"=22","binaryProperty":"video","options":{"privacyStatus":"private"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-288,-304],"id":"b389ab11-22db-4731-8cc8-cd6f31114b0b","name":"manatelugodu","credentials":{"youTubeOAuth2Api":{"id":"xuesvhnaGTvkg7RQ","name":"YouTube account"}}},{"parameters":{"resource":"video","operation":"upload","title":"={{ $binary.video.fileName }}","regionCode":"IN","categoryId":"=22","binaryProperty":"video","options":{"privacyStatus":"private"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-288,-512],"id":"1c41227f-eb3e-4f3d-96a8-fa5ce05f15e0","name":"EdgeViralHub","credentials":{"youTubeOAuth2Api":{"id":"x6f46BFfy6EXr9kY","name":"YouTube account 2"}}},{"parameters":{"operation":"fromJson","destinationKey":"json","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1008,-416],"id":"0cbcb754-6916-4b7d-a2e9-88ea7d0f512a","name":"Extract from File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7b677091-9ab5-40e6-a817-1444bd1325a2","leftValue":"={{$json.json.status}}","rightValue":"READY","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-832,-416],"id":"8064864e-70c2-4aeb-b42a-5bf5d2174441","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{$json.json.item.channel}}","rightValue":"EN","operator":{"type":"string","operation":"equals"},"id":"e81e89e9-dc5d-4a14-ba0d-46830cf0ad13"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0539de87-2420-4416-8221-f79dc069e801","leftValue":"={{$json.json.item.channel}}","rightValue":"TE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-656,-432],"id":"01888274-894c-4af9-8302-c7ef879b51e3","name":"Switch"},{"parameters":{"fileSelector":"={{ $json.json.item.videoPath.replace('F:\\\\YouTubu_AI', '/data').replaceAll('\\\\','/') }}","options":{"dataPropertyName":"video"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-480,-512],"id":"7a935f19-82e2-46ec-a947-2324b4320dc1","name":"Read/Write Files from Disk1"},{"parameters":{"fileSelector":"={{ $json.json.item.videoPath.replace('F:\\\\YouTubu_AI', '/data').replaceAll('\\\\','/') }}","options":{"dataPropertyName":"video"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[-480,-304],"id":"0cb15290-65c6-48f9-9758-dcb7d28eaf55","name":"Read/Write Files from Disk2"},{"parameters":{"amount":15,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-96,-512],"id":"5f632d51-5296-4e36-bb74-a1c7aa0ebcd8","name":"Wait","webhookId":"c650817b-abbd-46e0-9ace-a8a122d565ae"},{"parameters":{"amount":15,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-96,-304],"id":"c07d0c99-8c5e-4750-9068-f4c6753c42cf","name":"Wait1","webhookId":"8a455470-75e1-42c6-aa30-4fc0f8246e8d"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"manatelugodu":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"EdgeViralHub":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}],[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"EdgeViralHub","type":"main","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"manatelugodu","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aae8e8a8-a7f4-42fe-a444-cf18d0245035","activeVersionId":null,"versionCounter":195,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-22T16:32:46.314Z","createdAt":"2026-02-22T16:32:46.314Z","role":"workflow:owner","workflowId":"T83lYR5vULLtMl5v","projectId":"ybOcs9lohepQURJ8","project":{"updatedAt":"2026-02-22T16:20:46.557Z","createdAt":"2026-02-22T14:29:38.022Z","id":"ybOcs9lohepQURJ8","name":"karunakumar arigila <krnakmr@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ba54bcd6-036d-48c5-85f3-cfc7568fb5cb"}}]}]